<div class = "event">
    <div class = "event_info">
        {EVENT_INFO_DATE}
        {EVENT_INFO_TIME}
        {EVENT_INFO_LOCATION}
    </div>
    <div class = "event_status">
        <section class = "status">
            {EVENT_STATUS}
        </section>
        <section class ="substatus">
            {EVENT_SUBSTATUS}
        </section>
    </div>
</div>